{#<div class="col-xl-6">#}
{#    <div class="card h-100 w-6in border-1 mb-4">#}
{% set centerAttributes = ['medidas', 'tecnica', 'ano', 'año'] %}
    <div class="card">
        <div class="card-header">

{#            {% set ref = i.get('_refcodes')[0]|default(false) %}#}
{#            {% if ref %}#}
{#                <span class="float-end img-thumbnail">#}
{#                {% set url = projectImagePathRegex|format(i.project.owner.source, ref) %}#}
{#                <img width="100px" height="100px" src="{{ url|imagine_filter('small') }}" alt=""/>#}
{#                </span>#}
{#            {% endif %}#}

            <span class="float-start">
                {{ project.name }}
            </span>

            <span class=" text-secondary text-smaller">
                &nbsp; {{ item.code }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('item_show', item.rp) }}">
                        <twig:ux:icon name="icon-park-outline:config" />
                    </a>
                {% endif %}
            </span>

            <h6 class="card-title float-end">{{ item.attributes.autor|default('') }}</h6>
            <p class="card-subtitle text-muted mb-0"></p>
        </div>
        <div class="card-body">
            <h1><i>
                    {{ item.attributes.title|default() }}
                </i>
            </h1>
            <div>
                <div class="float-end">
                    <div>

                    {% set url = url('item_redirect', item.rp) %}
                    <a href="{{ url }}" target="_blank">
                        <img {{ stimulus_controller('qr', {text: url}) }} />
                    </a>
                    </div>
{#                    {{ ux_icon('material-symbols:headphones-outline', {height: '16px', width: '16px', aria-hidden: true}) }}#}
                    <twig:ux:icon
                            height="132px"
                            width="16px"
                            name="material-symbols:headphones-outline" />
                    #{{ item.id }}

                </div>
            <div>
                {# @todo: define which attributes go here.  cedula admin, ugh. #}
                {{ item.attributes.tecnica |default('') }}
                {% for att in centerAttributes %}
                    {% set val = item.attributes[att]|default(false)  %}
                    {% if val %}
                    <li>
                        {{ att|trans }}: {{ val }}
                    </li>
                    {% endif %}
                {% endfor %}
{#                <br />{{ item.attributes.medidas|default('') }}#}
{#                <br />Año: {{ item.attributes.año|default('') }}#}
            </div>
                <div>
{#                    {{ item.label('en') }}#}
                </div>
            <p class="text-muted">
                {{ item.description }}
            </p>

                {% for field, fieldValue in item.attributes %}
                {% if fieldValue %}
{#            <div>#}
{#                {{ field }}: {{ fieldValue }}#}
{#                {{ fieldValue|map(i => item.label|default(item.code))|join(',') }}#}
{#            </div>#}
            {% endif %}
            </div>

            {% endfor %}

        </div>
    </div>
{#</div><!-- end col -->#}



