{% extends "@SurvosMobile/onsPage.html.twig" %}
{% set onsMeta = ons_metadata(_self, 'tab') %}

{% block body %}

{% set globals = {a: 'b'} %}
{% set store = 'items' %}

    <div {{ stimulus_controller('@survos/js-twig-bundle/dexie') }}>
        ??
    </div>
    <twig:dexie
        refreshEvent="items.prechange"
        :store="store"
        :globals="globals"
        :filter="{}"
        :caller="_self">
        <twig:block name="twig_template" id="end_of_template">
            <ons-list>
                {% for row in rows %}
                {% set thumb = '/media/cache/small/%s/%s'|format(row.code, row.image) %}
                <ons-list-item class="list-item custom-list-item" tappable
                               {{ stimulus_action('app','open_page','click', {
                                   page: 'player',
                                   store: 'items',
                                   id: row.id
                               }) }}
                >
                    <div class="top list-item__top">
                        <div class="custom-list-item-wrapper">
                        <div class="left list-item__left">
                            <img class="ons-mobile-thumbnail" src="{{ thumb }}" alt="{{ thumb }}"/>
                        </div>
                        <div class="xcenter xlist-item__center">
                                <h3>
                                    {{ row.label }}
                                </h3>
                            <div class="custom-list-item-row">
                            {{ row.size }}

                            </div>
                        </div>
                        <div class="right list-item__right">
                            <h6>${{ row.price|number_format(0, ",", ".") }}</h6>
                            <p class="content">{{ row.year }}</p>
                        </div>
                        </div>
                    </div>
                </ons-list-item>
                {% endfor %}
            </ons-list>
            <!-- end_of_template -->
        </twig:block>

    </twig:dexie>

{% endblock %}
