{% extends "@SurvosMobile/onsPage.html.twig" %}
{% set onsMeta = ons_metadata(_self, 'tab') %}

{% block pageId 'share' %}
{# since share is a tab page, it's not necessary to change the header, like a menu page #}
{% block toolbar %}
{#    {{ parent() }}#} {#  this will add the back button #}
{% endblock %}
{% block body %}

    install?
    <button
{#            hidden#}
            data-controller="pwa--install"
            data-pwa--install-target="install"
            data-action="click->pwa--install#install"
            class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
    >
        Install this app
    </button>

    {% set url = absolute_url('project_mobile') %}
{#    {% set url = globals.host ~ path('project_mobile', rp)  %}#}
    <div {{ stimulus_controller('qr', {text: url}) }}>
        <img {{ stimulus_target('qr', 'img') }} />
        <br />{{ url }}
    </div>

{#    {% set url = absolute_url(path('project_mobile')) %}#}
{#    <img src="{{ qr_code_url(url) }}" />#}
{#    <br />{{ url }}#}

    {#        <h1>{{ data.title|default('undefined') }}</h1>#}
    {#        <div {{ stimulus_controller('qr', {text: project.id) class="qr"></div>#}


{#    <twig:PwaInstall>#}
{#        <twig:block name="launch">#}
{#            <button class="btn btn-outline-success">#}
{#                Launch button here...#}
{#            </button>#}
{#        </twig:block>#}
{#        <twig:block name="install">#}
{#            <i class="bi bi-download"></i>#}
{#            Install#}
{#        </twig:block>#}
{#    </twig:PwaInstall>#}

{% endblock %}
