{% extends 'project_base.html.twig' %}

{% block page_content %}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects Detail</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    {{ block('related_entities') }}
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-university"></i> {{ project.name }}</h3>

                    <p class="text-muted">
                        {{ project.description }}
                    </p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">Location
                            <b class="d-block">{{ project.city }}</b>
                        </p>
                        <p class="text-sm">Team
                            <b class="d-block">{{ project.members|join(',') }}</b>
                        </p>
                    </div>

                    <h5 class="mt-5 text-muted">Project files</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                        </li>
                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                        </li>
                    </ul>
                    <div class="text-center mt-5 mb-3">
                        <a href="{{ path('project_edit', project.rp) }}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
{% endblock %}

{% macro entityCard(class, details, project) %}
        <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <a href="{{ path(details.entity ~ '_index', project.rp) }}">
                    <div class="text-lg font-weight-bold text-primary mb-1">{{ (details.entity ~ '.index')|trans }}</div>
                </a>
                <i class="{{ details.icon }} fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
    {% endmacro %}

{% macro otherEntityCard() %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <a href="{{ path(details.entity ~ '_index', project.rp) }}">
                            <div class="text-lg font-weight-bold text-primary mb-1">{{ (details.entity ~ '.index')|trans }}</div>
                        </a>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ details.count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="{{ details.icon }} fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% for entity in attribute(project, 'properties')|slice(0, 30) %}
                    <li>{{ entity.name }}: {{ entity.type }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% block related_entities %}

    {% for class, details in summary %}
        <div class="row">
            {{ _self.entityCard(class, details, project ) }}
            <div class="col-md-3">
                {{ '%s.entityDescription'|format(details.entity)|trans|markdown_to_html }}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block xxx %}
    <div class="row">

    <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted">{{ 'collections'|trans }}</span>
                <span class="info-box-number text-center text-muted mb-0">{{ project.collections.count }}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted">{{ 'items'|trans }}</span>
                <span class="info-box-number text-center text-muted mb-0">{{ project.items.count }}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-text text-center text-muted">{{ 'location'|trans }}</span>
                <span class="info-box-number text-center text-muted mb-0">{{ project.locations.count }} <span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block recent_activity %}
<div class="row">
    <div class="col-12">
        <h4>Recent Activity</h4>
        <div class="post">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                        </span>
                <span class="description">Shared publicly - 7:45 PM today</span>
            </div>
            <!-- /.user-block -->
            <p>
                Lorem ipsum represents a long-held tradition for designers,
                typographers and the like. Some people hate it and argue for
                its demise, but others ignore.
            </p>

            <p>
                <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
            </p>
        </div>

        <div class="post clearfix">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                <span class="username">
                          <a href="#">Sarah Ross</a>
                        </span>
                <span class="description">Sent you a message - 3 days ago</span>
            </div>
            <!-- /.user-block -->
            <p>
                Lorem ipsum represents a long-held tradition for designers,
                typographers and the like. Some people hate it and argue for
                its demise, but others ignore.
            </p>
            <p>
                <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
            </p>
        </div>

        <div class="post">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                        </span>
                <span class="description">Shared publicly - 5 days ago</span>
            </div>
            <!-- /.user-block -->
            <p>
                Lorem ipsum represents a long-held tradition for designers,
                typographers and the like. Some people hate it and argue for
                its demise, but others ignore.
            </p>

            <p>
                <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
